<div class="container">
  <mat-tab-group>
    <mat-tab label="Overview">
      <div class="tab-page">
        <h1>List of products</h1>

        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input (input)="updateFoodSearchTerm($event)" matInput>
        </mat-form-field>
       
        <app-food-table [content]="foodData | foodFilter: foodSearchTerm" (detailClick)="goToFoodDetails($event)"></app-food-table>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat aliquam nulla accusamus explicabo, quas alias eligendi aliquid quam iusto earum autem error voluptatem, facilis vitae reiciendis eveniet culpa minus voluptatibus.</p>
      </div>
    </mat-tab>
    <mat-tab label="Add new">
      <div class="tab-page">
        <h1>Add new</h1>
        <app-food-form></app-food-form>
    </div>
    </mat-tab>
  </mat-tab-group>
</div>
