  
  <app-toolbar>
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  </app-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      [ngClass]="{ hidden: !(isHandset$ | async) }"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard</a>
        <a mat-list-item routerLink="/calendar"><mat-icon>calendar_today</mat-icon> Calendar</a>
        <a mat-list-item routerLink="/foodcorner"><mat-icon>local_dining</mat-icon> Food corner</a>
        <a mat-list-item routerLink="/weather"><mat-icon>wb_sunny</mat-icon> Weather</a>
        <a mat-list-item routerLink="/performances"><mat-icon>grade</mat-icon> Performances</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
