div{
  padding-top: 5%;
  background-color: #ebecf1;
  min-height: 100vh;
}

.example-card-small {
    width: 80%;
    max-width: 80%;
    height: 80%;

}
.example-card-large {
  width: 90%;
  max-width: 100%;
  height: 80%;

}
