<div>
  <mat-grid-list [cols]="4" rowHeight="4:1" >
    <mat-grid-tile [colspan] = "1" [rowspan] ="1"><mat-card class="example-card-small">Simple card</mat-card></mat-grid-tile>
    <mat-grid-tile [colspan] = "1" [rowspan] ="1"><mat-card class="example-card-small">Simple card</mat-card></mat-grid-tile>
    <mat-grid-tile [colspan] = "1" [rowspan] ="1"><mat-card class="example-card-small">Simple card</mat-card></mat-grid-tile>
    <mat-grid-tile [colspan] = "1" [rowspan] ="1"><mat-card class="example-card-small">Simple card</mat-card></mat-grid-tile>

    <mat-grid-tile [colspan] = "2" [rowspan] ="4"><mat-card class="example-card-large">Simple card</mat-card></mat-grid-tile>
    <mat-grid-tile [colspan] = "2" [rowspan] ="4"><mat-card class="example-card-large">Simple card</mat-card></mat-grid-tile>
  </mat-grid-list>
</div>
